<footer class="bg--white spacing--gutter spacing--vert-2 spacing--dsk-vert-4 flex flex--wrap justify--around">
	<div class="grid--one grid--sm-half grid--md-three-fifths color--gray flex flex--wrap justify--between align--items-center">
		<div class="block--form-title grid--one grid--md-two-fifths font--large">{{site.footer.email.title}}</div>
		{% include emailform.html %}
	</div>
	
	<address class="color--gray grid--one grid--sm-two-fifths grid--md-fourth spacing--dsk-horiz-3">
		{{site.footer.address}}
	</address>
</footer>