.icon-angle-right { background-image: url('app/icons/angle-right.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-shield-animate { background-image: url('app/icons/shield-animate.png'); background-repeat: no-repeat; }

