// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$green: (
	light: 			#9dcc49,
	mid:			#57b947,
	dark: 			#1c5b2e,
);

$white:#f9f8f4;
$gray: #939393;
$lightgray: #bcbcbb;

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)